apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      volumes:
        - name: shared-logs
          persistentVolumeClaim:
            claimName: logger-claim
      containers:
        - name: log-server
          image: palolaur/log-server@sha256:c0935affbda78a326b2de75da198fc2afe2da026a55ec9b8d8d277a7d12537f0
          volumeMounts:
            - name: shared-logs
              mountPath: /usr/src/app/files
        - name: string-generator
          image: palolaur/string-generator@sha256:79273472591cf33fb2d54050f8fd18bceae1d64b0019f35c768b69f5e8a23584
          volumeMounts:
            - name: shared-logs
              mountPath: /usr/src/app/files
